<?= $this->extend('pages/auth/base.html') ?>

<?= $this->section('contents') ?>
<div class="container text-center">
  <?= h1_title(lang('App.func.forgetPassword')) ?>
  <?= form_open() ?>
  <?= $this->include('layouts/alert/success.html') ?>
  <?= $this->include('layouts/alert/error.html') ?>
  <?= form_input([
    'class' => 'form-control',
    'id' => 'inputAccount',
    'name' => 'account',
    'placeholder' => lang('App.acctountPlaceholder'),
    'value' => old('account', ''),
  ]) ?>
  <div class="my-2">
    <button class="btn btn-primary btn-lg btn-block w-100">
      <?= lang('App.requestPasswordReset') ?>
    </button>
  </div>
  <?= form_close() ?>
  <div class="my-3">
    <a class="btn btn-link" href="/login">
      <?= lang('App.login') ?>
    </a>
  </div>
</div>
<?= $this->endSection() ?>
