<?= $this->extend('layouts/base.html') ?>

<?= $this->section('contents') ?>
<div class="container w-50">
  <h1>
    <?= lang('App.func.resetPassword') ?>
  </h1>
  <?= form_open('',[], ['account' => $user->email, 'token' => $user->remember_token]) ?>
  <?= $this->include('layouts/alert/success.html') ?>
  <?= $this->include('layouts/alert/error.html') ?>
  <label class="form-label" for="inputAccount">
    <?= lang('App.account') ?>
  </label>
  <div class="p-2">
    <?= esc($user->email) ?>
  </div>
  <label class="form-label" for="inputName">
    <?= lang('App.user.name') ?>
  </label>
  <div class="p-2">
    <?= esc($user->name) ?>
  </div>
  <label class="form-label" for="inputPassword">
    <?= lang('App.newPassword') ?>
  </label>
  <?= form_password([
    'class' => 'form-control',
    'autofocus' => true,
    'id' => 'inputPassword',
    'name' => 'password',
  ]) ?>
  <div class="my-2">
    <button class="btn btn-success btn-lg btn-block w-100">
      <?= lang('App.resetPassword') ?>
    </button>
  </div>
  <?= form_close() ?>
</div>
<?= $this->endSection() ?>
