<?= $this->extend('layouts/base.html') ?>

<?= $this->section('contents') ?>
<div class="container-fluid">
  <h1>
    <?= lang('App.func.information') ?>
    <span class="lead">
      <?= lang('App.edit') ?>
    </span>
  </h1>
  <div class="my-2">
    <a class="btn btn-link" href="/informations/<?= $information->id ?>">
      <?= lang('App.show') ?>
    </a>
  </div>
  <?= form_open('/informations/update/' . $information->id) ?>
  <?= $this->include('layouts/alert/success.html') ?>
  <?= $this->include('layouts/alert/error.html') ?>
  <div class="row g-3">
    <?= $this->include('pages/informations/parts/input_form.html') ?>
  </div>
  <div class="my-3">
    <button class="btn btn-success">
      <?= lang('App.update') ?>
    </button>
  </div>
  <?= form_close("\n") ?>
  <div class="my-3">
    <?= $this->include('pages/informations/parts/index_link.html') ?>
  </div>
</div>
<?= $this->endSection() ?>
