<?= $this->extend('layouts/base.html') ?>

<?= $this->section('contents') ?>
<div class="container-fluid">
  <?= h1_title(lang('App.func.information'), lang('App.new')) ?>
  <?= form_open('/informations/create') ?>
  <?= $this->include('layouts/alert/success.html') ?>
  <?= $this->include('layouts/alert/error.html') ?>
  <div class="row g-3">
    <?= $this->include('pages/informations/parts/input_form.html') ?>
  </div>
  <div class="my-3">
    <button class="btn btn-success">
      <i class="fas fa-check"></i>
      <?= lang('App.create') ?>
    </button>
  </div>
  <?= form_close("\n") ?>
  <div class="my-3">
    <?= anchor('/informations', lang('App.backToIndex'), 'class="btn btn-link"') ?>
  </div>
</div>
<?= $this->endSection() ?>
